<style>
  .btn_vissza{
  background-color: #00008b;
  z-index: 1;
  border-radius: 15px;
  color: white;
  height: 50px;
  width: 70px;
  position: absolute;
  left:0;
  }
  .btn_home{
  background-color: #00008b;
  z-index: 1;
  color: white;
  border-radius: 9px;
  height: 50px;
  width: 70px;
  position: absolute;
  right:0;
  }
  .background{
    background: linear-gradient(
      rgba(102, 107, 175, 0.6), 
      rgba(17, 25, 94, 0.6)), no-repeat;
    background-size: 100% 100%;
    height: 760px;
  }
  .btn{
      position: fixed;
      bottom: 260px;
      right: 30px;
      width: 300px;
  }
  
  
  h1 {text-align: center;}
  h4 {text-align: center;}
  h5 {text-align: center;}
</style>
<meta charset="utf-8">
<title>Recept</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<div class="background">
  <div style="display: flex; justify-content: center;" >
    <button type="button"  (click)="OnBackClicked()" class="btn_vissza"><i class="fa fa-angle-left"></i> </button>
    <h1> Recept</h1>
    <br/>
    <br/>
    <br/>
    <button type="button" (click)="OnHomeClicked()" class="btn_home"><i class="fa fa-home"></i> </button>
  </div>

  <div>
    <h4>{{recipe.Name}}</h4>
    <h5>Lépések:</h5>
 </div>

  <div >
    <ul   class="list-group">
      <li   *ngFor="let step of recipe.Steps; let i = index"  class="list-group-item list-group-item-secondary">{{i}}. {{step}}</li>	 
    </ul>
  </div>

	<div class="container pt-3" >
		<div class="row">
		  <div class="col text-center">
			<button type="button" (click)="OnImportClicked()" class="btn_blue" >Importálás</button>
		</div>
	</div>


    <div class="form-group">
      <div class="container pt-3" >
        <div class="row">
          <div class="col text-center">
            <button type="submit" (click)="OnReadClicked()" class="btn_blue">Olvasd Fel</button>
          </div>
        </div>
      </div>
    </div>

</div>

